USE [master]
GO
/****** Object:  Database [BD_LUG_Empleados]    Script Date: 26/10/2024 10:22:49 ******/
CREATE DATABASE [BD_LUG_Empleados]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_LUG_Empleados', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_LUG_Empleados.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_LUG_Empleados_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\BD_LUG_Empleados_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_LUG_Empleados].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_LUG_Empleados]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 26/10/2024 10:22:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[ID_EMPLEADO] [int] IDENTITY(1,1) NOT NULL,
	[APELLIDO_NOMBRE] [nvarchar](50) NOT NULL,
	[DNI] [nvarchar](20) NOT NULL,
	[SUELDO_BRUTO] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPLEADOS] ON 

INSERT [dbo].[EMPLEADOS] ([ID_EMPLEADO], [APELLIDO_NOMBRE], [DNI], [SUELDO_BRUTO]) VALUES (6, N'Lopez Pablo', N'12345678900', CAST(150000.00 AS Decimal(18, 2)))
INSERT [dbo].[EMPLEADOS] ([ID_EMPLEADO], [APELLIDO_NOMBRE], [DNI], [SUELDO_BRUTO]) VALUES (7, N'Perez Antonio', N'98765432122', CAST(200000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[EMPLEADOS] OFF
GO
USE [master]
GO
